<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.admin.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.example.demo.admin.model.User" >
    <id column="u_id" property="userId" jdbcType="BIGINT" />
    <result column="u_name" property="userName" jdbcType="VARCHAR" />
    <result column="state" property="state" jdbcType="BIGINT" />
  </resultMap>
  <select id="listUser" resultMap="BaseResultMap">
    select u_id,u_name,state from `user` where state = 1;
  </select>
</mapper>